{
  "singleQuote": false,
  "semi": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "insertPragma": false,
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
